<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/info.css">
</head>
<body>
    <header>
        <div class="header-wrap marginAuto">
            <div class="logo">
                <a href="/index"></a>
            </div>
            <nav class="navigation">
                
                <ul class="lnb">
                    <li><a href="#">예매</a></li>
                    <li><a href="/movie">영화</a></li>
                    <li><a href="#">영화관</a></li>
                    <li><a href="/mypage">마이페이지</a></li>
                </ul>
            </nav>
            <div class="login">
                <span><a href="/login">로그인</a></span>
                <span><a href="/join">회원가입</a></span>
            </div>
            <nav class="ham-navigation">
                <div class="ham-btn">
                    <span class="ham hamTop"></span>
                    <span class="ham hamMid"></span>
                    <span class="ham hamBot"></span>
                </div>
                <div class="ham-login">
                    <span><a href="/login">로그인</a></span>
                    <span><a href="/join">회원가입</a></span>
                </div>
                <ul class="ham-lnb">
                    <li><a href="#"><span>예매</span></a></li>
                    <li><a href="/movie"><span>영화</span></a></li>
                    <li><a href="#"><span>영화관</span></a></li>
                    <li><a href="/mypage"><span>마이페이지</span></a></li>
                </ul>

                
            </nav>
            
        </div>
    </header>
    
    <div class="detail-wrap">
        <div class="detail-container">
        </div>
    </div>

    <button class="goPrevPage"><i class='bx bx-left-arrow-circle'></i></button>
    <footer>
        <div class="footer-bottom marginAuto">
            <h1>movie</h1>
            <address>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
                <span>TEL : 02-0000-0000/</span>
                <span>FAX : 02-0000-0000<br></span>
            </address>
            <div class="footer-copyright">
                <p class="right">개인정보처리방침</p>
                <p>Copyright © Lorem ipsum dolor All rights reserved</p>
            </div>
        </div>
    
    </footer>
    <script src="/script/common.js"></script>
    <script src="/script/createDom2.js"></script>
    <script>
        
      async function loadMovieDetail(){
            const movie = await JSON.parse(localStorage.getItem('info'));
            console.log(movie);
            document.querySelector('.detail-container').innerHTML = createDom(movie);
        }
      loadMovieDetail();

     document.querySelector('.goPrevPage').addEventListener('click', ()=>{
        history.back();
        // 자세히 보기 페이지는 어느 페이지에서 사용될 지 모름 
        // location으로 이동하면 원래 사용하던 페이지로 돌아가는 것이 아니므로 
        // 이전 페이지로 돌아갈 수 있도록 해주어야 함 
     })
    </script>
    
    
</body>
</html>