<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/movie.css">
</head>
<body>
    <header>
        <div class="header-wrap marginAuto">
            <div class="logo">
                <a href="/index"></a>
            </div>
            <nav class="navigation">
                
                <ul class="lnb">
                    <li><a href="#">예매</a></li>
                    <li><a href="/movie">영화</a></li>
                    <li><a href="#">영화관</a></li>
                    <li><a href="#">마이페이지</a></li>
                </ul>
            </nav>
            <div class="login">
                <span><a href="/login">로그인</a></span>
                <span><a href="/join">회원가입</a></span>
            </div>
            <nav class="ham-navigation">
                <div class="ham-btn">
                    <span class="ham hamTop"></span>
                    <span class="ham hamMid"></span>
                    <span class="ham hamBot"></span>
                </div>
                <div class="ham-login">
                    <span><a href="/login">로그인</a></span>
                    <span><a href="/join">회원가입</a></span>
                </div>
                <ul class="ham-lnb">
                    <li><a href="#"><span>예매</span></a></li>
                    <li><a href="/movie"><span>영화</span></a></li>
                    <li><a href="#"><span>영화관</span></a></li>
                    <li><a href="#"><span>마이페이지</span></a></li>
                </ul>

                
            </nav>
            
        </div>
    </header>
    <section class="section2 marginAuto">
        
        <input type="radio" id="movie-tab1" name="movie-tab" class="movie-tab" checked>
        <input type="radio" id="movie-tab2" name="movie-tab" class="movie-tab">
        <ul>
            <li>
                <label for="movie-tab1">영화 목록</label>
            </li>
            <li>
                <label for="movie-tab2">추천 영화 목록
                </label>
            </li>
            <li class="input-container">
                <div class="input-box">
                    
                    <!-- <i class='bx bx-x-circle'></i> -->
                    <input type="text" id="userInput" placeholder="영화명을 입력해주세요">
                    <i class='bx bx-search-alt'></i>
                </div>
            </li>
        </ul>
        
        <div class="movie-container">
            <!-- <h2>영화 목록</h2> -->
            <div class="movies-contents"></div>
        </div>
        <div class="slide-container">
            <!-- <h2>추천 영화 목록</h2> -->
            <div class="slide-contents"></div>
        </div>
    </section>
    <footer>
        <div class="footer-bottom marginAuto">
            <h1>movie</h1>
            <address>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
                <span>TEL : 02-0000-0000/</span>
                <span>FAX : 02-0000-0000<br></span>
            </address>
            <div class="footer-copyright">
                <p class="right">개인정보처리방침</p>
                <p>Copyright © Lorem ipsum dolor All rights reserved</p>
            </div>
        </div>

    </footer>
    <script src="/script/movie.js"></script>
    <script src="/script/common.js"></script>
    <script src="/script/createDom.js"></script>
</body>
</html>