@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

header{
    width: 100%;
    border-bottom: 1px solid rgb(83, 83, 83);
    
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.marginAuto{
    max-width: 1200px;
    margin: auto;
}
.logo{
    width: 150px;
    height: 100px;
}
.logo a{
    font-family: 'Flavors', cursive;
    font-size: 4.5em;
    color: rgb(23, 16, 107);
}
.navigation{
    display: flex;
    align-items: center;
}
.lnb{
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 120px;
}
.lnb a{
    font-size: 18px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.login a{
    font-size: 15px;
}
.ham-navigation{
    display: none;
}
/* 햄버거버튼 */
.ham-navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
    clip-path: circle(25px at calc( 100% - 45px) 45px);
    transition: 0.3s ease-in-out;
    }
    .ham-navigation.active{
    clip-path: circle(75%);
    }
    .ham-navigation .ham-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
    .ham-navigation .ham-btn span{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 3px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    }
    .ham-navigation .ham-btn span:nth-child(1){
    top: 30%;
    }
    .ham-navigation .ham-btn span:nth-child(2){
    top: 50%;
    }
    .ham-navigation .ham-btn span:nth-child(3){
    top: 70%;
    }
    .ham-navigation.active .ham-btn span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-navigation.active .ham-btn span:nth-child(2){
    opacity: 0;
    }
    .ham-navigation.active .ham-btn span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    }
    .ham-lnb{ text-align: center; font-size: 44px;
    line-height: 2;
    }
    .ham-lnb a{ color:#fff; 
    /* background-color: antiquewhite; */
    position: relative;
    }
    .ham-lnb span{ position: relative; z-index: 1;}
    .ham-lnb a::after{ 
    content:'';
    display: block;
    width:  0px; 
    height: 100%;
    background-color: red;
    transition: 1s;
    position: absolute;
    z-index: 0; 
    left: 0; top:0;
    }
    .ham-lnb a:hover::after{ 
    width:  100%; 
    }
.title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2em;
}
footer{
    margin-top: 40px;
    background-color: #ccc;
    color: #fff;
}
.footer-bottom h1{
    padding-top: 40px;
    padding-bottom: 40px;
}
address{
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-copyright{
    font-size: 13px;
    padding-bottom: 40px;
}
@media screen and (max-width: 1130px) {

    .lnb{
        gap: 90px;
    }
}
@media screen and (max-width: 990px) {
    .lnb,.login{
        display: none;
    }
    .ham-navigation{
        display: block;
    }
}